.footer-container {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--color-bg, #222);
  color: var(--color-text, white);
  user-select: none;
  box-shadow: 0px -2px 8px var(--box-shadow-footer);
}
